/**
 * Section UI Styles
 * ----------------------------------------//
 */
.section {
    padding: @bsu * 2.5 0;
}


/**
 * Section modifiers
 */
.section--tight {
    padding: @bsu 0;
}


/**
 * Section color modifiers
 */
.section--white {
    background-color: #FFF;
}
.section--zebra {
    background-color: lighten(@brand-1, 6%);
}


/**
 * Section header
 */
.section__header {
    font-size: @section-header-size;
    margin-bottom: @bsu * 2;
    
    p {
        margin: @qsu 0;
    }
}
.section__title {
    font-size: @section-title-size;
    font-weight: @font-bold;

    // Fix spacing issue on font rendering
    position: relative;
    left: -1px;
}