/**
 * Site Header UI Styles
 * ----------------------------------------//
 */
.site-header {
    padding: @bsu 0 @bsu * 2;
    position: relative;

    .welcome {
        padding: @bsu * 1.5 0 @bsu * 0.75;
    }

    * {
        position: relative;
        z-index: 2;
    }


    /**
     * Media query adjustments
     */
    @media (min-width: @screen-sm-min) {
        padding: @bsu 0 @bsu * 4;

        .welcome {
            padding: @bsu * 3 0 @bsu * 1.5;
        }
    }

    @media (min-width: @screen-md-min) {
        font-size: @welcome-size;
    }
}


/**
 * Site header image background modifier
 */
.site-header--img-bg {
    background-size: cover;
}
.site-header--img-bg:after {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 60%,rgba(255,255,255,0.2) 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.site-header__logo {
    height: 53px;
    left: -2px;
    position: relative;
    width: 81px;

    a {
        display: block;
        height: 53px;
        width: 81px;
    }
    a:hover {
        border: none;
        padding-bottom: 0;
    }

    @media (min-width: @screen-lg-min) {
        left: -12%;
    }
}