/**
 * Weather UI Styles
 * ----------------------------------------//
 */
.weather {
    align-items: center;
    display: flex;

    .weather-forecast {
        float: left;
        width: 75%;
    }
}

.weather__header {
    color: @brand-1;
    float: left;
    font-size: @weather-size;
    width: 25%;
}
.weather__title {
    font-size: @weather-title-size;
    font-weight: @font-bold;
    margin-bottom: @qsu;
}