//
// Navbars
// --------------------------------------------------

// HEHA! logo
.navbar-brand {
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  background-image: url(../img/trip-manager/heha.png);
  text-indent: -5000em;
  z-index: 1000;
  top: 5px;
  left: 5px;
  width: 75px;
  height:44px;
  background-size: 75px 44px; 
}

@media screen and (min-width: @screen-sm-min) {
  .navbar-brand {
    position: relative;
  }
}