/**
 * Countdown Object
 * ----------------------------------------//
 */
.countdown {
    list-style: none;
    margin: 0;
    padding: 0;
}
.countdown:after {
    clear: both;
    content: "";
    display: block;
}

/**
 * Countdown item
 */
.countdown__item {
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(255,255,255,0.2) 100%), fade(@countdown-bg-color, 20%);
    border: 2px solid @countdown-border-color;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3);
    color: @countdown-text-color;
    display: block;
    float: left;
    margin-right: @hsu;
    min-width: 58px;
    padding: @qsu @qsu * .75 @qsu;
    position: relative;


    /**
     * Media query adjustments
     */
    @media (min-width: @screen-sm-min) {
        margin-right: @hsu * 1.5;
        padding: @hsu @hsu @hsu;
        min-width: 100px;
    }

    @media (min-width: @screen-md-min) {
        margin-right: @bsu;
        padding: @hsu @hsu * 1.5 @hsu * 1.5;
    }
}
.countdown__item:last-of-type {
    margin-right: 0;
}


/**
 * Countdown colons between items (hidden on the last item)
 */
.countdown__item:after {
    display: block;
    content: ":";
    font-size: @countdown-digits-size * .33;
    font-weight: @font-light;
    line-height: @countdown-digits-size * .33;
    color: @countdown-text-color;
    position: absolute;
    text-shadow: @default-text-shadow;
    top: @qsu;
    right: -@qsu - 6px;


    /**
     * Media query adjustments
     */
    @media (min-width: @screen-sm-min) {
        font-size: @countdown-digits-size * .5;
        line-height: @countdown-digits-size * .5;
        top: @hsu;
        right: -@hsu * 1.5 + 5px;
    }

    @media (min-width: @screen-md-min) {
        font-size: @countdown-digits-size;
        line-height: @countdown-digits-size;
        top: @hsu;
        right: -@bsu + 4px;
    }
}
.countdown__item:last-of-type:after {
    display: none;
}


/**
 * Countdown digits and descriptions e.g. 20 Days, 03 Hours etc.
 */
.countdown__digits,
.countdown__desc {
    display: block;
    text-align: center;
    text-shadow: @default-text-shadow;
}

.countdown__digits {
    font-size: @countdown-digits-size * .33;
    font-weight: @font-light;
    line-height: @countdown-digits-size * .33;
    margin-bottom: @qsu * .5;


    /**
     * Media query adjustments
     */
    @media (min-width: @screen-sm-min) {
        font-size: @countdown-digits-size * .5;
        line-height: @countdown-digits-size * .5;
    }

    @media (min-width: @screen-md-min) {
        font-size: @countdown-digits-size;
        line-height: @countdown-digits-size;
    }
}

.countdown__desc {
    font-size: @countdown-desc-size * .5;
    font-weight: @font-medium;
    line-height: @countdown-desc-size * .5;
    letter-spacing: 2px;
    text-transform: uppercase;


    /**
     * Media query adjustments
     */
    @media (min-width: @screen-sm-min) {
        font-size: @countdown-desc-size * .75;
        line-height: @countdown-desc-size * .75;
    }

    @media (min-width: @screen-md-min) {
        font-size: @countdown-desc-size;
        line-height: @countdown-desc-size;
    }
}