/**
 * Welcome Object
 * ----------------------------------------//
 */
.welcome {
    font-size: @welcome-size;

    p {
        margin-bottom: @bsu;
    }
}

.welcome__greeting {
    font-size: @welcome-greeting-size;
    margin-bottom: @qsu;

    // Fix spacing issue on font rendering
    position: relative;
    left: -2px;
}

.welcome__destination {
    font-size: @welcome-destination-size;
    font-weight: @font-bold;
    margin-bottom: @qsu;

    // Fix spacing issue on font rendering
    position: relative;
    left: -7px;
}

.welcome__dates {
    font-size: @welcome-dates-size;
}