/**
 * Font weights
 * ----------------------------------------//
 */
@font-thin: 100;
@font-light: 300;
@font-regular: 400;
@font-medium: 500;
@font-bold: 700;


/**
 * Object type sizes
 * ----------------------------------------//
 */
@section-header-size: 24px;
@section-title-size: 50px;

@modal-close-size: 14px;
@modal-content-text-size: 18px;
@modal-content-title-size: 48px;

@processing-size: 21px;
@processing-title-size: 60px;
@processing-item-size: 56px;

@welcome-size: 21px;
@welcome-greeting-size: 40px;
@welcome-destination-size: 110px;
@welcome-dates-size: 31px;

@weather-size: 24px;
@weather-title-size: 40px;

@weather-forcast-icon-size: 60px;
@weather-forcast-name-size: 16px;
@weather-forcast-temp-size: 24px;

@countdown-digits-size: 90px;
@countdown-desc-size: 14px;

@itinerary-size: 18px;
@itinerary-title-size: 36px;
@itinerary-action-size: 32px;
@itinerary-flight-delay-icon-size: 25px;
@itinerary-icon-size: 45px;
@itinerary-status-icon-size: 32px;

@confirmation-reference-text-size: 32px;
@confirmation-reference-icon-size: 22px;

@service-features-icon-size: 72px;
@service-features-body-size: 16px;

@site-footer-strapline-size: 75px;